.login-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.left-panel {
    flex: 1;
    background-color: #2e0082;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin: 0;
}

.logo {
    font-size: 10rem;
    font-weight: bold;
    margin-bottom: 4rem;
    margin-top: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-span {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: relative;
    top: 2rem;
}

.description {
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 1.5;
    max-width: 700px;
    text-align: center;
}

.right-panel {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.right-panel h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #2e0082;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.input-field {
    background-color: #f5f0ff;
    border: 2px solid #2e0082;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.login-button {
    background-color: #228b22;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #1c6e1c;
}

.signup-text {
    margin-top: 15px;
    font-size: 0.9rem;
}

.signup-text a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    color: #37098a;
}

.body {
    margin: 0;
}

.error-message {
    color: #943434;
    font-size: small;
    margin:0;
    padding-left: 2px;
    margin-bottom: 15px;
}